{% extends "Learnify/navbar.html" %}

{% load static %}
   
     
{% block head %}
      <title>Hackathon-Learnify</title>
      <link rel="icon" type="image/png" href={% static "images/icon.ico" %}>
      <link rel="stylesheet" type="text/css" href={% static "css/Hackathon1.css" %}>
      <link rel="stylesheet" href={% static "css/Carousel.css" %}>
{% endblock head %}  
      
{% block body %}
      <div class="">
         <div id="content" class="snippet-hidden" style="position: absolute; left: 14.73%;">
            <div class="image-hackathon" style="position: absolute; left: 2.1%">
               <img src={% static "images/Hackathon-frontpage.png" %} alt="" style="object-fit: cover; object-position: center;">
            </div>
            <div class="container abs">
               <div class="container">
                  
                  <div class="hs__wrapper">
                     <div class="hs__header">
                        <h2 class="hs__headline">Our Initiatives
                        </h2>
                        <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next disabled"></a></div>
                     </div>
                     <ul class="hs">
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                     </ul>
                  </div>
                  <div class="hs__wrapper">
                     <div class="hs__header">
                        <h2 class="hs__headline">Comunity Hackathons
                        </h2>
                        <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
                     </div>
                     <ul class="hs">
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li>
                        <li class="hs__item">
                           <div class="hs__item__image__wrapper">
                              <!--img.hs__item__image(src="https://source.unsplash.com/random/300×300/?album&sig"+[n]+[i], alt="")--><img class="hs__item__image" src="/static/images/hackathon%20card.png" alt="">
                           </div>
                           <div class="hs__item__description"><span class="hs__item__title">Hackathons</span><span class="hs__item__subtitle">Smart India Hackathon and others</span></div>
                           <button class="btn btn-success btn-block">Register</button>
                        </li> 
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src={% static "js/jquery.js" %}></script>
      <script src={% static "js/Hackathon.js" %}></script>
{% endblock body %}